html,
body {
  margin: 0;
  padding: 0;
  background: #ccc;
  font-family: "Poppins", sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.photo-txt1,
p {
  padding: 3vw;
}

.photo-txt2,
p {
  padding: 3vw;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  background-color: #642a84;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  width: 88%;
  font-size: 2.2em;
  padding: 5vw;
  margin-left: 1vw;
  margin-right: 1vw;
}

.statement {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding: 5px;
  width: 95%;
  border-radius: 5px;
  color: #642a84;
  background-color: #888;
  margin-left: 2vw;
  margin-right: 2vw;
}

footer {
  width: 100%;
  background-color: #642a84;
  color: white;
  height: 100%;
  max-height: 60px;
}

footer h3 {
  position: relative;
  font-size: 0.75em;
  text-align: center;
}

.footer-span {
  font-size: 10px;
  position: relative;
}

.nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0px;
  margin: 20px;
  border-radius: 8px;

}

.nav li {

  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}

.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}

.nav a:hover {
  background-color: #005f5f;
}

.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

@media screen and (min-width: 600px) {
  .nav li {
    display: inline-block;
    margin-right: -4px;
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
}